<div class="pt-1 ps-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item">Produtos</li>
            <li class="breadcrumb-item"><a routerLink="/produtos">Listar Produtos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gerenciar Compras do Produto <i> {{ produto.nome }}</i></li>
        </ol>
    </nav>
</div>

<mat-progress-bar *ngIf="carregando" mode="indeterminate"></mat-progress-bar>
<section class="pt-1 px-3">
    <app-alerta [alertas]="alertas"></app-alerta>

    <div class="grid gap-3 border rounded px-3" aria-disabled>
        <header class="header">
            <h2>Gerenciar Compras do Produto <i> {{ produto.nome }}</i> </h2>
        </header>
        <div *ngIf="!carregando && dataSource.data.length == 0"><strong>Nenhuma compra cadastrada para o produto.</strong>
        </div>
        <div class="grid gap-3 border rounded  px-3" *ngIf="dataSource.data.length > 0">
            <mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="notaFiscal.data">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Data da Compra</mat-header-cell>
                    <!-- https://stackoverflow.com/questions/54645041/how-to-convert-string-to-type-date-in-dynamically-generated-mat-table-->
                    <mat-cell *matCellDef="let compra">{{ compra.notaFiscal.data  | date: 'dd/MM/yyyy'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="quantidade">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estoque</mat-header-cell>
                    <mat-cell *matCellDef="let compra">{{ compra.quantidade }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="preco">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Preço</mat-header-cell>
                    <mat-cell *matCellDef="let compra">{{ compra.preco }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                    <mat-cell *matCellDef="let compra">
                        <button mat-icon-button matTooltip="Excluir compra" (click)="confirmarExcluirCompra(compra)"
                            [disabled]="excluindo" [class.spinner]="excluindo && (produto._id == compraExcluida._id)">
                            <mat-icon color="secondary">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
        </div>
        <br>
        <button mat-stroked-button [routerLink]="['/produtos/' + produto._id + '/cadastrarCompraProduto']" [queryParams]="{ listar: true }"
            matTooltip="Nova Compra" color="primary">Nova Compra </button>  &nbsp;
        <button routerLink="/produtos" mat-stroked-button matTooltip="Voltar" color="warn">Voltar</button>
</div>
</section>