/* You can add global styles to this file, and also import other style files */
.container {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  min-height: 1000px; /* sem esse tamanho mínimo o menu hamburguer não aparece em mobile */
}

.header {
  margin: 1rem auto 2rem;
}

.full-width {
  width: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.mat-icon {
  height: 21px;
  width: 21px;
  font-size: 21px;
  line-height: 21px;
}


.fieldset {
  border: 1px rgb(146, 179, 223) solid;
}

.cabecalho {
  background-color: rgb(21, 96, 156);
}

.dialog {
  background-color: rgb(21, 96, 156);
  text-align: center;
  color: white;
}
.active-menu {
  background-color: rgb(21, 96, 156);
}

@media (min-width: 900px) {
  .mat-column-acoes {
    text-align: center;
    min-width: 200px;
    max-width: 200px;
  }
}

.corpo-aplicacao {
    padding-top: 75px; 
}

.rodape {
  background-color: lightgray;
  min-height: 60px;
  color: gray;
  margin-top: 300px;
  margin-bottom: 0px;
}

@media (min-width: 1200px) {
  .corpo-aplicacao {
    padding-top: 75px; 
    margin-left: 60px;
    margin-right: 60px;
  }
}

mat-progress-bar {
  margin-left: 20px; 
  margin-right: 100px;
}

.border-acoes {
 border-left: 1px solid lightgray
}

.produto-input {
  width: 100%;
}

@media (min-width: 900px) {
  .produto-input {
      width: 70%;
  }
}

@import "~bootstrap-icons/font/bootstrap-icons.css";