<nav class="navbar navbar-expand-lg navbar-dark cabecalho shadow fixed-top rounded-bottom">
    <div class="container-fluid text-light" >
        <a class="navbar-brand" routerLink="/home"></a><button mat-icon-button routerLink="/home"><mat-icon >store</mat-icon></button>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation" *ngIf="authService.isLogado()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed" *ngIf="authService.isLogado()">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" ngbDropdown *ngIf="authService.isAdmin()">
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Usuários </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <a ngbDropdownItem href="#" routerLink="/usuarios/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }">Listar Usuários</a>
                        <a ngbDropdownItem href="#" routerLink="/usuarios/criarUsuario" routerLinkActive="active-menu">Cadastrar Usuários</a>
                    </div>
                </li>
                <li class="nav-item" ngbDropdown *ngIf="authService.isEstoque() || authService.isAdmin()">
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Fornecedores </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <a ngbDropdownItem href="#" routerLink="/fornecedores/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }">Listar Fornecedores</a>
                        <a ngbDropdownItem href="#" routerLink="/fornecedores/criarFornecedor" routerLinkActive="active-menu">Cadastrar Fornecedores</a>
                    </div>
                </li>
                <li class="nav-item" ngbDropdown *ngIf="authService.isEstoque() || authService.isAdmin()">
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Produtos </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <!-- https://stackoverflow.com/questions/55587975/routerlinkactive-route-for-child-and-parent -->
                        <a ngbDropdownItem routerLink="/produtos/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }">Listar Produtos</a>
                        <a ngbDropdownItem routerLink="/produtos/criarProduto" routerLinkActive="active-menu">Cadastrar Produtos</a>
                    </div>
                </li>
                <li class="nav-item" ngbDropdown *ngIf="authService.isAdmin()">
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Vendedores </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <a ngbDropdownItem href="#" routerLink="/vendedores/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }">Listar Vendedores</a>
                        <a ngbDropdownItem href="#" routerLink="/vendedores/criarVendedor" routerLinkActive="active-menu">Cadastrar Vendedores</a>
                    </div>
                </li>
                <li class="nav-item" ngbDropdown *ngIf="authService.isVendedor() || authService.isAdmin()">
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Clientes </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <a ngbDropdownItem href="#" routerLink="/clientes/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }">Listar Clientes</a>
                        <a ngbDropdownItem href="#" routerLink="/clientes/criarCliente" routerLinkActive="active-menu">Cadastrar Clientes</a>
                    </div>
                </li>
                <li class="nav-item" ngbDropdown *ngIf="authService.isEstoque() || authService.isAdmin() || authService.isCliente()">
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Compras </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <!-- https://stackoverflow.com/questions/55587975/routerlinkactive-route-for-child-and-parent -->
                        <div *ngIf="authService.isEstoque() || authService.isAdmin()">
                            <a ngbDropdownItem routerLink="/compras/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }">Listar Compras</a>
                            <a ngbDropdownItem routerLink="/compras/criarCompra" routerLinkActive="active-menu">Nova Compra</a>
                        </div>
                        <div *ngIf="authService.isCliente()">
                            <a ngbDropdownItem routerLink="/compras/meusPedidos" routerLinkActive="active-menu">Meus Pedidos</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item" ngbDropdown *ngIf="authService.isVendedor() || authService.isAdmin() || authService.isGestor() ">
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Vendas </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <a ngbDropdownItem routerLink="/vendas/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }">Listar Vendas</a>
                        <a ngbDropdownItem routerLink="/vendas/criarVenda" routerLinkActive="active-menu" *ngIf="authService.isVendedor() || authService.isAdmin()">Nova Venda</a>
                    </div>
                </li>
                <li class="nav-item" ngbDropdown *ngIf="authService.isGestor()">
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Gestão </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <a ngbDropdownItem routerLink="/indicadoresVendas/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-bar-chart-fill"></i>&nbsp;Indicadores para Vendas</a>
                        <a ngbDropdownItem routerLink="/indicadoresCompras/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-bar-chart-fill"></i>&nbsp;Indicadores para Compras</a>
                        <li><hr class="dropdown-divider"></li>
                        <a ngbDropdownItem routerLink="/produtosMaisVendidos/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-trophy-fill"></i>&nbsp;Produtos Mais Vendidos</a>
                    </div>
                </li> 
            </ul>
            <ul class="navbar-nav navbar-right ms-auto">
                <li class="nav-item " ngbDropdown>
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"><span class="text-uppercase"><i class="bi bi-person-fill"></i> {{ authService.getUsuario().login }}</span> </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu dropdown-menu-end" display="dynamic" >
                        <a ngbDropdownItem routerLink="/atualizarPerfil/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-person-circle"></i>&nbsp;Atualizar Perfil</a>
                        <a ngbDropdownItem routerLink="/logout/" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }"><i class="bi bi-door-open-fill"></i>&nbsp;Sair do Sistema</a>
                    </div>
                </li>   
            </ul>
        </div>
</div>
</nav>