<div class="pt-1 ps-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cadastrar Produto</li>
        </ol>
    </nav>
</div>

<section class="container">
    <app-alerta [alertas]="alertas"></app-alerta>
    <div class="grid gap-3 border rounded container">
        <header class="header">
            <h2>Novo Produto</h2>
        </header>
        <form [formGroup]="criarProdutoForm" (ngSubmit)="criarProduto()">
            <div class="mb-3">
                <mat-form-field style="width: 70%;">
                    <mat-label>Produto</mat-label>
                    <input type="text" formControlName="nome" maxlength="256" matInput placeholder="Digite o nome do produto">
                    <mat-hint>Digite o nome do produto</mat-hint>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field >
                    <mat-label>Estoque inicial</mat-label>
                    <input type="number" formControlName="quantidade" matInput placeholder="Digite o estoque inicial">
                    <mat-hint>Digite o estoque inicial</mat-hint>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field>
                    <mat-label>Preço</mat-label>
                    <input type="number" formControlName="preco" matInput placeholder="Digite o preço">
                    <mat-hint>Digite o preço do produto</mat-hint>
                </mat-form-field>
            </div>

            <div class="acoes">
                <button type="submit" mat-stroked-button color="primary">Salvar</button> &nbsp;
                <button routerLink="/home" mat-stroked-button color="warn">Cancelar</button>
            </div><br />
            <div *ngIf="salvando"><strong>Salvando...</strong>
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Salvando...</span>
                </div>
            </div>
        </form>
    </div>
</section>