<div class="pt-1 ps-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item">Produtos</li>
            <li *ngIf="listar || (operacao != 'Cadastrar')" class="breadcrumb-item"><a routerLink="/produtos">Listar
                    Produtos</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ operacao }} Produto</li>
        </ol>
    </nav>
</div>

<mat-progress-bar *ngIf="carregando" mode="indeterminate"></mat-progress-bar>
<section class="container">
    <app-alerta [alertas]="alertas"></app-alerta>
    <div class="grid gap-3 border rounded container" aria-disabled>
        <header class="header">
            <h2>{{ operacao }} Produto <i *ngIf="this.formulario">{{this.formulario.get('nome')?.value}}</i></h2>
        </header>
        <form [formGroup]="formulario" (ngSubmit)="salvar()" *ngIf="!carregando" #formDirective="ngForm">
            <div class="mb-3">
                <mat-form-field style="width: 70%;">
                    <mat-label>Nome</mat-label>
                    <input formControlName="nome" matInput placeholder="Digite o nome do produto">
                    <mat-error *ngIf="formulario.get('nome')?.errors">O campo é obrigatório!</mat-error>
                    <mat-hint *ngIf="(operacao != 'Consultar')">Digite o nome do produto</mat-hint>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field>
                    <mat-label>Estoque inicial</mat-label>
                    <input type="number" formControlName="quantidade" matInput placeholder="Digite o estoque inicial">
                    <mat-error *ngIf="formulario.get('quantidade')?.hasError('required')">O campo é obrigatório!</mat-error>
                    <mat-error *ngIf="formulario.get('quantidade')?.hasError('min')">O valor deve ser maior ou igual a zero!</mat-error>
                    <mat-hint *ngIf="(operacao != 'Consultar')">Digite o estoque inicial</mat-hint>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field>
                    <mat-label>Preço</mat-label>
                    <input formControlName="preco" matInput currencyMask placeholder="Digite o preço">
                    <mat-error *ngIf="formulario.get('preco')?.hasError('required')">O campo é obrigatório!</mat-error>
                    <mat-error *ngIf="formulario.get('preco')?.hasError('min')">O valor deve ser maior que zero!</mat-error>
                    <mat-hint *ngIf="(operacao != 'Consultar')">Digite o preço</mat-hint>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field>
                    <mat-label>Preço custo</mat-label>
                    <input formControlName="precoCusto" matInput currencyMask placeholder="Digite o preço médio de custo">
                    <mat-error *ngIf="formulario.get('precoCusto')?.hasError('required')">O campo é obrigatório!</mat-error>
                    <mat-error *ngIf="formulario.get('precoCusto')?.hasError('min')">O valor deve ser maior ou igual a zero!</mat-error>
                    <mat-hint *ngIf="(operacao != 'Consultar')">Digite o preço de custo</mat-hint>
                </mat-form-field>
            </div>
            <div class="acoes">
                <!-- https://dkreider.medium.com/how-to-add-a-spinner-to-an-angular-material-button-the-simplest-way-ever-69e2f7005f29 -->
                <button *ngIf="!leitura" type="submit" mat-stroked-button matTooltip="Salvar o produto" color="primary"
                    [disabled]="salvando || erroCarregando || !formulario.valid"
                    [class.spinner]="salvando">Salvar</button> &nbsp;
                <button (click)="$event.preventDefault(); cancelar();" mat-stroked-button
                    matTooltip="{{ leitura ? 'Voltar' : 'Voltar sem salvar' }}"
                    color="{{ leitura ? 'primary' : 'warn' }}" [disabled]="salvando || erroCarregando">Voltar</button>
            </div>
        </form>
    </div>
</section>