<div class="pt-1 ps-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item">Produtos</li>
            <li class="breadcrumb-item"><a routerLink="/produtos">Listar Produtos</a></li>
            <li *ngIf="listar" class="breadcrumb-item"><a [routerLink]="['/produtos/' + produto._id + '/listarComprasProduto']">Gerenciar Compras do Produto <i>{{ produto.nome  }}</i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Nova Compra do Produto <i>{{ produto.nome  }}</i></li>
        </ol>
    </nav>
</div>

<mat-progress-bar *ngIf="carregando" mode="indeterminate"></mat-progress-bar>
<section class="pt-1 px-3">
    <app-alerta [alertas]="alertas"></app-alerta>
    <fieldset class="grid gap-3 fieldset rounded px-3 pb-3 pt-3" aria-disabled>
        <legend class="float-none w-auto h5">&nbsp;Nova Compra do Produto <i>{{this.produto.nome}}</i>&nbsp;</legend>

        <form [formGroup]="formulario" (ngSubmit)="comprarProduto()">
            <div class="mb-3">
                <mat-form-field appearance="fill" class="me-3" >
                    <mat-label>Data de compra</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="data">
                    <mat-error *ngIf="formulario.get('data')?.hasError('required') && !formulario.get('data')?.hasError('matDatepickerParse')">O campo é obrigatório!</mat-error>
                    <mat-error *ngIf="formulario.get('data')?.hasError('matDatepickerParse')">O campo é inválido!</mat-error>
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="me-3" style="width: 50%;">
                    <mat-label>Fornecedor</mat-label>
                    <input type="text" formControlName="fornecedor" [matAutocomplete]="autoFornecedor" matInput placeholder="Escolha o fornecedor" [readonly]="salvando || erroCarregando">
                    <mat-autocomplete #autoFornecedor="matAutocomplete" [displayWith]="displayFnFornecedor">
                        <mat-option *ngFor="let fornecedor of fornecedoresFiltrados | async" [value]="fornecedor">
                          {{fornecedor.nome}}
                        </mat-option>
                    </mat-autocomplete>                    
                    <mat-error *ngIf="formulario.get('fornecedor')?.hasError('fornecedorCadastrado')  && formulario.get('fornecedor')?.touched">O fornecedor não está cadastrado!</mat-error>
                    <mat-hint>Escolha o fornecedor</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Nota Fiscal</mat-label>
                    <input type="string" formControlName="numero" matInput placeholder="Digite a Nota Fiscal"
                        [readonly]="salvando || erroCarregando">
                    <mat-hint>Digite a Nota Fiscal</mat-hint>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field class="me-3">
                    <mat-label>Quantidade</mat-label>
                    <input formControlName="quantidade" matInput placeholder="Digite a quantidade" mask="separator.2" thousandSeparator="."
                        [readonly]="salvando || erroCarregando">
                        <mat-error *ngIf="formulario.get('quantidade')?.hasError('required')  && formulario.get('quantidade')?.touched">O campo é obrigatório!</mat-error>
                        <mat-error *ngIf="formulario.get('quantidade')?.hasError('min') && formulario.get('quantidade')?.touched">O valor deve ser maior que zero!</mat-error>
                    <mat-hint>Digite a quantidade</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Preço total</mat-label>
                    <input formControlName="preco" matInput placeholder="Digite o preço" currencyMask
                        [readonly]="salvando || erroCarregando">
                        <mat-error *ngIf="formulario.get('preco')?.hasError('required')  && formulario.get('preco')?.touched">O campo é obrigatório!</mat-error>
                        <mat-error *ngIf="formulario.get('preco')?.hasError('min') && formulario.get('preco')?.touched">O valor deve ser maior que zero!</mat-error>
                    <mat-hint>Digite o preço total</mat-hint>
                </mat-form-field>
            </div>
            <div class="acoes">
                <!-- https://dkreider.medium.com/how-to-add-a-spinner-to-an-angular-material-button-the-simplest-way-ever-69e2f7005f29 -->
                <button type="submit" mat-stroked-button matTooltip="Salvar a compra" color="primary"
                    [disabled]="salvando || erroCarregando || !formulario.valid" [class.spinner]="salvando">Salvar</button> &nbsp;
                <button (click)="$event.preventDefault(); cancelar();" mat-stroked-button matTooltip="Voltar sem salvar"
                    color="warn" [disabled]="salvando">Voltar</button>
            </div>
        </form>
    </fieldset>
</section>