<div class="container">
    <section class="pt-1 px-3">
        <app-alerta [alertas]="alertas"></app-alerta>
        <div class="grid gap-3 border rounded px-3 pb-3 pt-3" aria-disabled>
            <header class="header">
                <h2 class="mat-h2"><i class="bi bi-person-fill"></i> Login do Usuário</h2>
                <span>Bem vindo a Loja-Online!</span>
            </header>
            <form [formGroup]="formulario" #formDirective="ngForm">
                <div class="mb-3">
                    <mat-form-field>
                        <mat-label>Login</mat-label>
                        <input formControlName="login" matInput placeholder="Digite o login do usuario">
                        <mat-hint>Digite o usuário</mat-hint>
                        <mat-error *ngIf="formulario.get('login')?.errors">O campo é obrigatório!</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="me-3 mb-3">
                        <mat-label>Senha</mat-label>
                        <input formControlName="senha" type="password" matInput placeholder="Digite a senha">
                        <mat-hint>Digite a senha</mat-hint>
                        <mat-error *ngIf="formulario.get('senha')?.hasError('required')">O campo é obrigatório!</mat-error>
                    </mat-form-field>
                </div>
                <div class="acoes">
                    <!-- https://dkreider.medium.com/how-to-add-a-spinner-to-an-angular-material-button-the-simplest-way-ever-69e2f7005f29 -->
                    <button (click)="$event.preventDefault(); login();" mat-stroked-button matTooltip="Efetuar login"
                        color="primary" [disabled]="logando || !formulario.valid" [class.spinner]="logando">Efetuar
                        login</button> &nbsp;
                </div>
            </form>
        </div>
    </section>
</div>