mat-footer-cell {
    font-weight: bold;
  }

  .produto-input {
    width: 100%;
  }
  
  @media (min-width: 1200px) {
    .produto-input {
        width: 47%;
    }
  }  

  .quantidade-preco-input {
    width: 40%;
  }
  
  @media (min-width: 1200px) {
    .quantidade-preco-input {
        width: 20%;
    }
  }   