<div class="pt-1 ps-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item">{{ operacao == 'Listar Vendas' ? 'Vendas' : 'Compras' }}</li>
            <li class="breadcrumb-item">{{ operacao }}</li>
        </ol>
    </nav>
</div>

<mat-progress-bar *ngIf="carregando" mode="indeterminate"></mat-progress-bar>
<section class="pt-1 px-3 pb-3">
    <app-alerta [alertas]="alertas"></app-alerta>

    <fieldset class="grid gap-3 fieldset rounded px-3 pb-3 pt-3" aria-disabled>
        <legend class="float-none w-auto h4">&nbsp;{{ operacao }}&nbsp;</legend>
        <div class="ms-3" *ngIf="!carregando && dataSource.data.length == 0"><strong>{{ operacao == 'Listar Vendas' ? 'Nenhuma venda cadastrada' : 'Nenhum pedido cadastrado.' }}</strong>
        </div>
        <div class="grid gap-3 fieldset rounded  px-3" *ngIf="dataSource.data.length > 0">
            <mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="data">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Data da Venda</mat-header-cell>
                    <!-- https://stackoverflow.com/questions/54645041/how-to-convert-string-to-type-date-in-dynamically-generated-mat-table-->
                    <mat-cell *matCellDef="let venda" class="text-break">{{ venda.data  | date: 'dd/MM/yyyy'}}</mat-cell>
                    <div *ngIf="operacao == 'Listar Vendas'">
                        <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
                    </div>
                </ng-container>
                <ng-container matColumnDef="vendedor" *ngIf="operacao == 'Listar Vendas'">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Vendedor</mat-header-cell>
                    <mat-cell *matCellDef="let venda">{{ venda.vendedor?.nome }}</mat-cell>
                    <div *ngIf="operacao == 'Listar Vendas'">
                        <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>
                    </div>    
                </ng-container>
                <ng-container matColumnDef="total">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Valor</mat-header-cell>
                    <mat-cell *matCellDef="let venda">{{ venda.total | dinheiroPipe }}</mat-cell>
                    <div *ngIf="operacao == 'Listar Vendas'">
                        <mat-footer-cell *matFooterCellDef>  {{getValorTotal() | dinheiroPipe}}  </mat-footer-cell>
                    </div>    
                </ng-container>
                <ng-container matColumnDef="lucro" *ngIf="operacao == 'Listar Vendas'">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Lucro</mat-header-cell>
                    <mat-cell *matCellDef="let venda"><span [ngClass]="{'text-danger': (venda.total - venda.custoTotal) <=0}"> {{ venda.total - venda.custoTotal | dinheiroPipe }}</span></mat-cell>
                    <div *ngIf="operacao == 'Listar Vendas'">
                        <mat-footer-cell *matFooterCellDef><span [ngClass]="{'text-danger': getLucroTotal() <=0}">  {{getLucroTotal() | dinheiroPipe}} </span> </mat-footer-cell>
                    </div>    
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                    <mat-cell *matCellDef="let venda">
                        <div>
                        <button mat-icon-button [routerLink]="['/vendas/' + venda._id]"
                            matTooltip="Detalhar Venda" [state]="{ operacao: 'Consultar' }" *ngIf="operacao == 'Listar Vendas'">
                            <mat-icon color="secondary">receipt</mat-icon>
                        </button>
                        <button mat-icon-button [routerLink]="['/compras/meusPedidos/' + venda._id]"
                            matTooltip="Detalhar Pedido" [state]="{ operacao: 'Consultar' }" *ngIf="operacao != 'Listar Vendas'">
                            <mat-icon color="secondary">receipt</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Excluir Venda" (click)="confirmarExcluirVenda(venda)"
                            [disabled]="excluindo" [class.spinner]="excluindo && (venda._id == vendaExcluida._id)">
                            <mat-icon color="secondary" *ngIf="operacao == 'Listar Vendas'">delete</mat-icon>
                        </button>
                        </div>
                    </mat-cell>
                    <div *ngIf="operacao == 'Listar Vendas'">
                        <mat-footer-cell *matFooterCellDef >  </mat-footer-cell>
                    </div>
                </ng-container>
                <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
                <mat-row *matRowDef="let row; columns: getDisplayedColumns()"></mat-row>
                <div *ngIf="operacao == 'Listar Vendas'">
                    <mat-footer-row *matFooterRowDef="getDisplayedColumns()"></mat-footer-row>
                </div>    
            </mat-table>
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15, 20]" [hidePageSize]="isPortrait()"  showFirstLastButtons></mat-paginator>
        </div>
        <br>
        <button mat-stroked-button [routerLink]="['/vendas/criarVenda']" [queryParams]="{ listar: true }"
            matTooltip="Nova Venda" color="primary" *ngIf="operacao == 'Listar Vendas'">Nova Venda </button>  &nbsp;
            <button *ngIf="operacao == 'Listar Vendas'" mat-stroked-button [class.spinner]="exportando" [disabled]="excluindo || carregando " (click)="$event.preventDefault(); abrirExcel();" matTooltip="Exportar" color="primary">Exportar</button> &nbsp;
            <button *ngIf="operacao == 'Listar Vendas'" mat-stroked-button [class.spinner]="imprimindo" [disabled]="excluindo || carregando " (click)="$event.preventDefault(); abrirRelatorio();" matTooltip="Imprimir" color="primary">Imprimir</button> &nbsp;
            <button mat-stroked-button routerLink="/home" matTooltip="Voltar" color="warn">Voltar</button>  &nbsp;
    </fieldset>
</section>