<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h2>Exemplo de componentes</h2>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdown1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdown1">
          <!-- items as buttons -->
          <button ngbDropdownItem>Button (enabled)</button>
          <button ngbDropdownItem [disabled]="true">Button (disabled, not focusable)</button>
          <button ngbDropdownItem [class.disabled]="true" aria-disabled="true">Button (disabled, focusable)</button>
      
          <!-- items as links -->
          <a href="#" ngbDropdownItem>Link (enabled)</a>
          <a href="#" ngbDropdownItem [disabled]="true">Link (disabled, not focusable)</a>
          <a href="#" ngbDropdownItem [class.disabled]="true" aria-disabled="true">Link (disabled, focusable)</a>
        </div>
      </div>

    </div>
  </div>

  
  <div class="row ">
    <div class="col">
      <ngb-alert type="success" closed="close(alert)">Alerta</ngb-alert>
    </div>   
    <div class="col">
      <ngb-alert type="danger" closed="close(alert)">Alerta</ngb-alert>
    </div>
    <div class="col">
      <ngb-alert type="primary" closed="close(alert)">Alerta</ngb-alert>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Exemplo de formulário</h2>
      <form>
        <div class="form-group">
          <label>Texto</label>
          <input type="text" class="form-control" placeholder="Placeholder campo texto">
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input">
          <label class="form-check-label">Checkbox</label>
        </div>

        <div class="form-group">
          <label>Combobox</label>
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group">
          <label>Textarea</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="submit" class="btn btn-default ml-2">Cancelar</button>
      </form>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
