/*https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries*/
@media (min-width: 1250px) {
.chart-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;   
  }
  .vendedor-with {
    width: 30%;
  }    
}
