<div class="pt-1 ps-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item">Fornecedores</li>
            <li class="breadcrumb-item active" aria-current="page">Listar Fornecedores</li>
        </ol>
    </nav>
</div>
<mat-progress-bar *ngIf="carregando" mode="indeterminate"></mat-progress-bar>
<section class="pt-1 px-3">
    <app-alerta [alertas]="alertas"></app-alerta>

    <fieldset class="grid gap-3 fieldset rounded px-3 pb-3 pt-3" aria-disabled>
        <legend class="float-none w-auto h5">&nbsp;Listar Fornecedores &nbsp;</legend>
        <div class="ms-3" *ngIf="!carregando && dataSource.data.length == 0"><strong>Nenhum fornecedor cadastrado.</strong>
        </div>
        <div class="grid gap-3 fieldset rounded px-3" *ngIf="dataSource.data.length > 0">
            <mat-table [dataSource]="dataSource" matSort matSortActive="nome" matSortDirection="asc">
                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let fornecedor">{{ fornecedor.nome }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="tipo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
                    <mat-cell *matCellDef="let fornecedor">{{ fornecedor.tipo == 'pf' ? 'Pessoa Física' : 'Pessoa Jurídica'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="identificacao">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="text-break">CPF/CNPJ</mat-header-cell>
                    <mat-cell *matCellDef="let fornecedor" class="text-break">{{ fornecedor.identificacao | mask:'CPF_CNPJ'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="acoes">
                    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                    <mat-cell *matCellDef="let fornecedor">
                        <div>
                        <button mat-icon-button [routerLink]="['/fornecedores/' + fornecedor._id]"
                            matTooltip="Detalhar Fornecedor" [state]="{ operacao: 'Consultar' }">
                            <mat-icon color="secondary">receipt</mat-icon>
                        </button>
                        <button mat-icon-button [routerLink]="['/fornecedores/' + fornecedor._id + '/editarFornecedor']"
                            matTooltip="Editar Fornecedor">
                            <mat-icon color="secondary">create</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Excluir Fornecedor" (click)="confirmarExcluirFornecedor(fornecedor)"
                            [disabled]="excluindo" [class.spinner]="excluindo && (fornecedor._id == fornecedorExcluido._id)">
                            <mat-icon color="secondary">delete</mat-icon>
                        </button>
                    </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
                <mat-row *matRowDef="let row; columns: getDisplayedColumns()"></mat-row>
            </mat-table>
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15, 20]"  [hidePageSize]="isPortrait()" showFirstLastButtons></mat-paginator>
        </div>
        <div>
            <button class="mt-3" mat-stroked-button routerLink="/fornecedores/criarFornecedor" [queryParams]="{ listar: true }" matTooltip="Novo Fornecedor" color="primary">Novo Fornecedor</button>  &nbsp;
            <button class="mt-3" mat-stroked-button [class.spinner]="exportando" [disabled]="excluindo || carregando " (click)="$event.preventDefault(); abrirExcel();" matTooltip="Exportar" color="primary">Exportar</button> &nbsp;
            <button class="mt-3" mat-stroked-button [class.spinner]="imprimindo" [disabled]="excluindo || carregando " (click)="$event.preventDefault(); abrirRelatorio();" matTooltip="Imprimir" color="primary">Imprimir</button> &nbsp;
            <button class="mt-3" mat-stroked-button routerLink="/home" matTooltip="Voltar" color="warn">Voltar</button>  &nbsp;
        </div>
        </fieldset>
</section>