<div class="pt-1 ps-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item">Vendas</li>
            <li *ngIf="(operacao != 'Detalhar') && (listar || (operacao != 'Cadastrar'))" class="breadcrumb-item"><a routerLink="/vendas">Listar Vendas</a></li>
            <li *ngIf="(operacao == 'Detalhar')" class="breadcrumb-item"><a routerLink="/compras/meusPedidos">Meus Pedidos</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ operacao + ((operacao == 'Detalhar') ? ' Pedido' : ' Venda') }} </li>
        </ol>
    </nav>
</div>

<mat-progress-bar *ngIf="carregando" mode="indeterminate"></mat-progress-bar>
<section class="pt-1 px-3">
    <app-alerta [alertas]="alertas"></app-alerta>
    <fieldset class="grid gap-3 fieldset rounded px-3 pb-3 pt-3" aria-disabled>
        <legend class="float-none w-auto h4">&nbsp;{{ operacao + ((operacao == 'Detalhar') ? ' Pedido' : ' Venda') }} <i *ngIf="this.formulario">{{  this.formulario.get('data')?.value  | date: 'dd/MM/yyyy' }}</i>&nbsp;</legend>

        <form [formGroup]="formulario" *ngIf="!carregando" #formDirective="ngForm">
            <div>
                <mat-form-field appearance="fill" class="me-3 mb-3">
                    <mat-label>Data de venda</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="data">
                    <mat-error *ngIf="formulario.get('data')?.hasError('required') && !formulario.get('data')?.hasError('matDatepickerParse')">O campo é obrigatório!</mat-error>
                    <mat-error *ngIf="formulario.get('data')?.hasError('matDatepickerParse')">O campo é inválido!</mat-error>
                    <mat-hint *ngIf="(operacao != 'Consultar') && (operacao != 'Detalhar')">DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="me-3 mb-3" *ngIf="(operacao != 'Detalhar')">
                <mat-form-field class="me-3 mb-3" style="width: 50%;">
                    <mat-label>Vendedor</mat-label>
                    <input type="text" formControlName="vendedor" [matAutocomplete]="autoVendedor" matInput
                        placeholder="Escolha o vendedor" [readonly]="salvando || erroCarregando">
                    <mat-autocomplete #autoVendedor="matAutocomplete" [displayWith]="displayFnVendedor">
                        <mat-option *ngFor="let vendedor of vendedoresFiltrados | async" [value]="vendedor">
                            {{vendedor.nome}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="formulario.get('vendedor')?.hasError('required')  && formulario.get('vendedor')?.touched">O campo é obrigatório!</mat-error>
                    <mat-error *ngIf="!formulario.get('vendedor')?.hasError('required') && formulario.get('vendedor')?.hasError('vendedorCadastrado')  && formulario.get('vendedor')?.touched">O vendedor não está cadastrado!</mat-error>
                    <mat-hint *ngIf="(operacao != 'Consultar') && (operacao != 'Detalhar')">Escolha o vendedor</mat-hint>
                </mat-form-field>
                <mat-form-field class="me-3 mb-3" style="width: 50%;">
                    <mat-label>Cliente</mat-label>
                    <input type="text" formControlName="cliente" [matAutocomplete]="autoCliente" matInput
                        placeholder="Escolha o cliente" [readonly]="salvando || erroCarregando">
                    <mat-autocomplete #autoCliente="matAutocomplete" [displayWith]="displayFnCliente">
                        <mat-option *ngFor="let cliente of clientesFiltrados | async" [value]="cliente">
                            {{cliente.nome}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="formulario.get('cliente')?.hasError('clienteCadastrado')  && formulario.get('cliente')?.touched">O cliente não está cadastrado!</mat-error>
                    <mat-hint *ngIf="(operacao != 'Consultar') && (operacao != 'Detalhar')">Escolha o cliente</mat-hint>
                </mat-form-field>
            </div>
            <fieldset class="grid gap-3 fieldset rounded px-3 pb-3 pt-3" aria-disabled>
                <legend class="float-none w-auto h5">&nbsp;Produtos da Venda&nbsp;</legend>
                <fieldset class="grid gap-3 fieldset rounded px-3 pb-3 pt-3" aria-disabled *ngIf="(operacao != 'Consultar') && (operacao != 'Detalhar')">
                    <legend class="float-none w-auto h6">&nbsp;Adicionar Produto&nbsp;</legend>
                    <div class="mb-3">
                        <mat-form-field class="me-3"  style="width: 60%;">
                            <mat-label>Produto</mat-label>
                            <input type="text" formControlName="produto" [matAutocomplete]="autoProduto" matInput placeholder="Escolha o produto" [readonly]="salvando || erroCarregando">
                            <mat-autocomplete #autoProduto="matAutocomplete" [displayWith]="displayFnProduto">
                                <mat-option *ngFor="let produto of produtosFiltrados | async" [value]="produto">
                                    {{produto.nome}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="formulario.get('produto')?.hasError('required') && formulario.get('produto')?.touched">O campo é obrigatório!</mat-error>
                            <mat-error *ngIf="!formulario.get('produto')?.hasError('required') && formulario.get('produto')?.hasError('produtoCadastrado')  && formulario.get('produto')?.touched">O produto não está cadastrado ou não tem estoque!</mat-error>
                            <mat-hint>Escolha o produto</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="me-3 mt-3" *ngIf="formulario.get('produto')!.valid">
                            <mat-label>Preço Unitário</mat-label>
                                <input type="string" formControlName="precoUnitario" currencyMask matInput placeholder="Digite o preço unitário" [readonly]="salvando || erroCarregando">
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field class="me-3">
                            <mat-label>Quantidade</mat-label>
                            <input type="number" formControlName="quantidade" matInput placeholder="Digite a quantidade" [readonly]="salvando || erroCarregando">
                            <mat-error *ngIf="formulario.get('quantidade')?.hasError('required')  && formulario.get('quantidade')?.touched">O campo é obrigatório!</mat-error>
                            <mat-error *ngIf="formulario.get('quantidade')?.hasError('min') && formulario.get('quantidade')?.touched">O valor deve ser maior que zero!</mat-error>
                            <mat-error *ngIf="!formulario.get('quantidade')?.hasError('required') && formulario.get('quantidade')?.hasError('quantidadeProduto')  && formulario.get('quantidade')?.touched">A quantidade é maior que o estoque do produto!</mat-error>
                            <mat-hint>Digite a quantidade</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="me-3 mt-3" *ngIf="formulario.get('produto')!.valid && formulario.get('quantidade')!.valid">
                            <mat-label>Preço Total</mat-label>
                                <input type="string" formControlName="precoTotal" currencyMask matInput placeholder="Digite o preço unitário" [readonly]="salvando || erroCarregando">
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field class="me-3 mb-3">
                            <mat-label>Desconto</mat-label>
                            <input formControlName="desconto" matInput placeholder="Digite o desconto" currencyMask [readonly]="salvando || erroCarregando">
                            <mat-error *ngIf="formulario.get('desconto')?.hasError('required')  && formulario.get('desconto')?.touched">O campo é obrigatório!</mat-error>
                            <mat-error *ngIf="formulario.get('desconto')?.hasError('min') && formulario.get('desconto')?.touched">O valor deve ser maior ou igual que zero!</mat-error>
                            <mat-hint>Digite o desconto</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="me-3 mt-3" *ngIf="formulario.get('produto')!.valid && formulario.get('quantidade')!.valid && formulario.get('desconto')!.valid">
                            <mat-label>Preço Final</mat-label>
                                <input type="string" formControlName="precoFinal" currencyMask matInput placeholder="Digite o preço unitário" [readonly]="salvando || erroCarregando">
                                <mat-hint class="text-danger" *ngIf="formulario.get('precoFinal')!.value <0">Aviso: Valor negativo!</mat-hint>
                                <mat-hint class="text-warning" *ngIf="formulario.get('precoFinal')!.value ==0">Aviso: Produto de graça!</mat-hint>
                            </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <button mat-stroked-button matTooltip="Adicionar" color="primary"
                            (click)="$event.preventDefault(); adicionarItem();"
                            [disabled]="salvando || erroCarregando || !formularioIncluirValido()">
                           <!-- <mat-icon>add</mat-icon>-->Adicionar
                        </button>
                    </div>
                </fieldset>
                <!-- Listagem de produtos da venda -->
                <fieldset class="grid gap-3 fieldset rounded px-3 mt-3 mb-3">
                    <legend class="float-none w-auto h6">&nbsp;Produtos&nbsp;</legend>
                    <div class="mb-3 mt-3" *ngIf="!carregando && dataSource.data.length == 0">
                        <strong>Nenhum produto adicionado a venda.</strong>
                    </div>
                    <div class="grid gap-3 fieldset rounded px-3 mb-3" *ngIf="dataSource.data.length > 0">
                        <mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="produto.nome">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Produto</mat-header-cell>
                                <!-- https://stackoverflow.com/questions/54645041/how-to-convert-string-to-type-date-in-dynamically-generated-mat-table-->
                                <mat-cell *matCellDef="let item">{{ item.produto.nome }}</mat-cell>
                                <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
                            </ng-container>
                            <ng-container matColumnDef="quantidade">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Quantidade</mat-header-cell>
                                <mat-cell *matCellDef="let item">{{ item.quantidade }}</mat-cell>
                                <mat-footer-cell *matFooterCellDef>{{getQuantidadeTotal()}}</mat-footer-cell>
                            </ng-container>
                            <ng-container matColumnDef="precoUnitario">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Preço Unitário</mat-header-cell>
                                <mat-cell *matCellDef="let item">{{ item.precoUnitario | dinheiroPipe }}</mat-cell>
                                <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                            </ng-container>
                            <ng-container matColumnDef="precoTotal">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Preço Total</mat-header-cell>
                                <mat-cell *matCellDef="let item">{{ item.quantidade * item.precoUnitario | dinheiroPipe }}</mat-cell>
                                <mat-footer-cell *matFooterCellDef>{{ getPrecoTotal() | dinheiroPipe }} </mat-footer-cell>
                            </ng-container>
                            <ng-container matColumnDef="desconto">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Desconto</mat-header-cell>
                                <mat-cell *matCellDef="let item">{{ item.desconto | dinheiroPipe }}</mat-cell>
                                <mat-footer-cell *matFooterCellDef>{{ getDescontoTotal() | dinheiroPipe }}</mat-footer-cell>
                            </ng-container>
                            <ng-container matColumnDef="precoFinal">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Preço Final</mat-header-cell>
                                <mat-cell *matCellDef="let item"><span [ngClass]="{'text-danger': item.preco <=0}">{{ item.preco | dinheiroPipe }}</span></mat-cell>
                                <mat-footer-cell *matFooterCellDef><span [ngClass]="{'text-danger': getPrecoFinalTotal() <=0}">{{ getPrecoFinalTotal() | dinheiroPipe }}</span></mat-footer-cell>
                            </ng-container>
                            <ng-container matColumnDef="actions" *ngIf="(operacao != 'Consultar') && (operacao != 'Detalhar')">
                                <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                                <mat-cell *matCellDef="let item">
                                    <button mat-icon-button matTooltip="Excluir Produto" [disabled]="salvando"
                                        (click)="$event.preventDefault(); confirmarExcluirItemVenda(item)">
                                        <mat-icon color="secondary">delete</mat-icon>
                                    </button>
                                </mat-cell>
                                <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: getDisplayedColumns()"></mat-row>
                            <mat-footer-row *matFooterRowDef="getDisplayedColumns()"></mat-footer-row>
                        </mat-table>
                        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15, 20]" [hidePageSize]="isPortrait()" showFirstLastButtons></mat-paginator>
                    </div>
                </fieldset>

            </fieldset>

            <div class="acoes mt-3">
                <!-- https://dkreider.medium.com/how-to-add-a-spinner-to-an-angular-material-button-the-simplest-way-ever-69e2f7005f29 -->
                <button *ngIf="!leitura" (click)="$event.preventDefault(); salvar();" mat-stroked-button
                    matTooltip="Salvar a venda" color="primary"
                    [disabled]="salvando || erroCarregando || !formularioValido()"
                    [class.spinner]="salvando">Salvar</button> &nbsp;
                <button (click)="$event.preventDefault(); cancelar();" mat-stroked-button
                    matTooltip="{{ leitura ? 'Voltar' : 'Voltar sem salvar' }}"
                    color="{{ leitura ? 'primary' : 'warn' }}" [disabled]="salvando">Voltar</button>
            </div>
        </form>
    </fieldset>
</section>