<div class="pt-1 ps-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item">Produtos</li>
            <li class="breadcrumb-item active" aria-current="page">Listar Produtos</li>
        </ol>
    </nav>
</div>
<mat-progress-bar *ngIf="carregando" mode="indeterminate"></mat-progress-bar>
<section class="pt-1 px-3">
    <app-alerta [alertas]="alertas"></app-alerta>

    <fieldset class="grid gap-3 fieldset rounded px-3 pb-3 pt-3" aria-disabled>
        <legend class="float-none w-auto h4">&nbsp;Listar Produtos&nbsp;</legend>

        <div class="ms-3" *ngIf="!carregando && dataSource.data.length == 0"><strong>Nenhum produto cadastrado.</strong>
        </div>
        <div class="grid gap-3 fieldset rounded px-3" *ngIf="dataSource.data.length > 0">
            <mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let produto">{{ produto.nome }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="quantidade">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estoque</mat-header-cell>
                    <mat-cell *matCellDef="let produto">{{ produto.quantidade }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="preco">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Preço Unitário</mat-header-cell>
                    <mat-cell *matCellDef="let produto">{{ produto.preco | dinheiroPipe }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                    <mat-cell *matCellDef="let produto">
                        <div>
                        <button mat-icon-button [routerLink]="['/produtos/' + produto._id]"
                            matTooltip="Detalhar produto" [state]="{ operacao: 'Consultar' }">
                            <mat-icon color="secondary">receipt</mat-icon>
                        </button>
                        <button mat-icon-button [routerLink]="['/produtos/' + produto._id + '/editarProduto']"
                            matTooltip="Editar produto">
                            <mat-icon color="secondary">create</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Excluir produto" (click)="confirmarExcluirProduto(produto)"
                            [disabled]="excluindo" [class.spinner]="excluindo && (produto._id == produtoExcluido._id)">
                            <mat-icon color="secondary">delete</mat-icon>
                        </button>
                        <button mat-icon-button [routerLink]="['/produtos/' + produto._id + '/cadastrarCompraProduto']"
                            matTooltip="Cadastrar compra para o produto">
                            <mat-icon color="secondary">payment</mat-icon>
                        </button>
                        <button mat-icon-button [routerLink]="['/produtos/' + produto._id + '/listarComprasProduto']"
                            matTooltip="Gerenciar compras do produto">
                            <mat-icon color="secondary">local_mall</mat-icon>
                        </button>
                    </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
        </div>
        <br>
        <button mat-stroked-button routerLink="/produtos/criarProduto" [queryParams]="{ listar: true }"
            matTooltip="Novo Produto" color="primary">Novo</button>  &nbsp;
            <button mat-stroked-button [class.spinner]="exportando" [disabled]="excluindo || carregando " (click)="$event.preventDefault(); abrirExcel();" matTooltip="Exportar" color="primary">Exportar</button> &nbsp;
            <button mat-stroked-button [class.spinner]="imprimindo" [disabled]="excluindo || carregando " (click)="$event.preventDefault(); abrirRelatorio();" matTooltip="Imprimir" color="primary">Imprimir</button> &nbsp;
            <button mat-stroked-button routerLink="/home" matTooltip="Voltar" color="warn">Voltar</button>  &nbsp;
   </fieldset>
</section>